<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo el tráfico a la carpeta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
    
    # Redirigir /public/index.php a solo /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+public/index\.php[\s?] [NC]
    RewriteRule ^ / [R=301,L]
</IfModule>